<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<div class=filtre> 
    <h1>Recherche de votre Commune</h1>
    <div class=filtrep1> 
        <p> Veuillez saisir votre code postale</p>
        <form action="/" method="get">
            <input type="number" id="cp" name="cp">
    </div>
    <div class=filtrep2>
        <p>OU</p>
        <p>Veuillez saisir votre région</p>
        <form action="/" method="get">

         <select id="region" name="nom_reg" onChange="select_communes(this.value); select_comcoms(this.value); select_departement(this.value);">
        <option value="_blank"></option>
        <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
        <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
        <option value="Bretagne">Bretagne</option>
        <option value="Centre-Val-de-Loire">Centre-Val de Loire</option>
        <option value="Corse">Corse</option>
        <option value="Grand-Est">Grand Est</option>
        <option value="Hauts-de-France">Hauts-de-France</option>
        <option value="Île-de-France">Île-de-France</option>
        <option value="La-Réunion">La Réunion</option>
        <option value="Martinique">Martinique</option>
        <option value="Normandie">Normandie</option>
        <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
        <option value="Occitanie">Occitanie</option>
        <option value="Pays-de-la-Loire">Pays de la Loire</option>
        <option value="Provence-Alpes-Côte-d'Azur">Provence-Alpes-Côte d'Azur</option>
    </select>

        <p>Veuillez saisir votre département</p>

    <select id="departement" name="nom_dep" onChange="select_communes(this.value); select_comcoms(this.value);">

        </select>

        <p>Veuillez saisir votre communauté de commune</p>

        
        <select id="comcoms" onChange="select_communes(this.value);">
            <option value="_blank" class="Null"></option>
                <% @communes.each do |communes| %>
            <option id="<%=communes.lib_ci%>" class="<%=communes.nom_reg%> <%=communes.nom_dep%> <%=communes.lib_ci%> comcoms"><%=communes.lib_ci%></option>
                <%end%>

        </select>

        <p>Veuillez saisir votre commune</p>
    <select id="communes">
        <option id="_blank" class="Null"></option>
        <% @communes.each do |communes| %>
            <option id="<%=communes.nom_com%>" class="<%=communes.nom_reg%> <%=communes.nom_dep%> <%=communes.lib_ci%> <%=communes.nom_com%> communes"><%=communes.nom_com%></option>
        <%end%>
    </select>
    </div>
    <div class=comparatif>
        <p>Liste épinglés</p>
        <table>
            <tr>
                <th>Nom de la commune</th>
            </tr>
        </table>
        <input type="button" onclick='resultat()' value="Voir les résultats" class='submit'>
    </div>
    <div class=exporter>    
        <input type="button" onclick="generate()" value="Exporter les résultats en PDF" class=export/>   
    </div>
</div>

    <table class=bdd id=table>
        <tr>
            <th>Nom de la commune</th>
            <th>Code Iris</th>
            <th>Nom Iris</th>
            <th>Population</th>
            <th>Score global</th>
            <th>Moyenne du département</th>
            <th>Moyenne de la région</th>
            <th>Accès interface numérique</th>
            <th>Accès information</th>
            <th>Compétences administrative</th>
            <th>Compétences numériques et scolaire</th>
            <th>Score global accès</th>
            <th>Score global compétences</th>
        </tr>
        <% @scorescommunes.each do |commune| %>
            <tr>
                <td class=com><%=commune.nom_com%></td>
                <td><%=commune.code_iris%></td>
                <td><%=commune.nom_iris%></td>
                <td><%=commune.pop%></td>
                <td><%=commune.score_global%></td>
                <td><%=commune.moy_dept%></td>
                <td><%=commune.moy_reg%></td>
                <td><%=commune.acc_intnum%></td>
                <td><%=commune.acc_inf%></td>
                <td><%=commune.comp_admin%></td>
                <td><%=commune.comp_numsco%></td>
                <td><%=commune.global_acces%></td>
                <td><%=commune.global_comp%></td>
                <td><input type ="button" class="<%=commune.code_iris%>" onclick="pin(this)"></td>
            </tr>
        <%end%>
    </table>
    <div class=paginate><%= paginate @scorescommunes %></div>