    <select id="region" onChange="toggle_departement(this.value)">
        <option value="_blank"></option>
        <option value="Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</option>
        <option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</option>
        <option value="Bretagne">Bretagne</option>
        <option value="Centre-Val de Loire">Centre-Val de Loire</option>
        <option value="Grand Est">Grand Est</option>
        <option value="Guadeloupe">Guadeloupe</option>
        <option value="Guyane">Guyane</option>
        <option value="Hauts-de-France">Hauts-de-France</option>
        <option value="Île-de-France">Île-de-France</option>
        <option value="La Corse">La Corse</option>
        <option value="Martinique">Martinique</option>
        <option value="Mayotte">Mayotte</option>
        <option value="Normandie">Normandie</option>
        <option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</option>
        <option value="Occitanie">Occitanie</option>
        <option value="Pays de la Loire">Pays de la Loire</option>
        <option value="Provence-Alpes-Côte d'Azur">Provence-Alpes-Côte d'Azur</option>
        <option value="Réunion">Réunion</option>

    </select>

    <select id="departement">
        <option id="_blank"></option>
        <option id="Ain" class="Auvergne-Rhône-Alpes" style="display:none">Ain</option>
        <option id="Aisne" class="Hauts-de-France">Aisne</option>
        <option id="Allier" class="Auvergne-Rhône-Alpes">Allier</option>
        <option id="Alpes de Haute-Provence" class="Provence-Alpes-Côte d'Azur">Alpes de Haute-Provence</option>
        <option id="Alpes-Maritimes" class="Provence-Alpes-Côte d'Azur">Alpes-Maritimes</option>
        <option id="Ardêche" class="Auvergne-Rhône-Alpes">Ardêche</option>
        <option id="Ardennes" class="Grand Est">Ardennes</option>
        <option id="Ariège" class="Occitanie">Ariège</option>
        <option id="Aube" class="Grand Est">Aube</option>
        <option id="Aude" class="Occitanie">Aude</option>
        <option id="Aveyron" class="Occitanie">Aveyron</option>
        <option id="Bas-Rhin" class="Grand Est">Bas-Rhin</option>
        <option id="Bouches-du-Rhône" class="Provence-Alpes-Côte d'Azur">Bouches-du-Rhône</option>
        <option id="Calvados" class="Normandie">Calvados</option>
        <option id="Cantal" class="Auvergne-Rhône-Alpes">Cantal</option>
        <option id="Charente" class="Nouvelle-Aquitaine">Charente</option>
        <option id="Charente-Maritime" class="Nouvelle-Aquitaine">Charente-Maritime</option>
        <option id="Cher" class="Centre-Val de Loire">Cher</option>
        <option id="Corrèze" class="Nouvelle-Aquitaine">Corrèze</option>
        <option id="Corse-du-Sud" class="Corse">Corse-du-Sud</option>
        <option id="Côte-d'Or" class="Bourgogne-Franche-Comté">Côte-d'Or</option>
        <option id="Côtes d'Armor" class="Bretagne">Côtes d'Armor</option>
        <option id="Creuse" class="Nouvelle-Aquitaine">Creuse</option>
        <option id="Deux-Sèvres" class="Nouvelle-Aquitaine">Deux-Sèvres</option>
        <option id="Dordogne" class="Nouvelle-Aquitaine">Dordogne</option>
        <option id="Doubs" class="Bourgogne-Franche-Comté">Doubs</option>
        <option id="Drôme" class="Auvergne-Rhône-Alpes">Drôme</option>
        <option id="Essonne" class="Île-de-France">Essonne</option>
        <option id="Eure" class="Normandie">Eure</option>
        <option id="Eure-et-Loir" class="Centre-Val de Loire">Eure-et-Loir</option>
        <option id="Finistère" class="Bretagne">Finistère</option>
        <option id="Gard" class="Occitanie">Gard</option>
        <option id="Gers" class="Occitanie">Gers</option>
        <option id="Gironde" class="Nouvelle-Aquitaine">Gironde</option>
        <option id="Guadeloupe" class="Guadeloupe">Guadeloupe</option>
        <option id="Guyane" class="Guyane">Guyane</option>
        <option id="Haute-Corse" class="Corse">Haute-Corse</option>
        <option id="Haute-Garonne" class="Occitanie">Haute-Garonne</option>
        <option id="Haute-Loire" class="Auvergne-Rhône-Alpes">Haute-Loire</option>
        <option id="Haute-Marne" class="Grand Est">Haute-Marne</option>
        <option id="Hautes-Alpes" class="Provence-Alpes-Côte d'Azur">Hautes-Alpes</option>
        <option id="Haute-Saône" class="Bourgogne-Franche-Comté">Haute-Saône</option>
        <option id="Haute-Savoie" class="Auvergne-Rhône-Alpes">Haute-Savoie</option>
        <option id="Hautes-Pyrénées" class="Occitanie">Hautes-Pyrénées</option>
        <option id="Haute-Vienne" class="Nouvelle-Aquitaine">Haute-Vienne</option>
        <option id="Haut-Rhin" class="Grand Est">Haut-Rhin</option>
        <option id="Hauts-de-Seine" class="Île-de-France">Hauts-de-Seine</option>
        <option id="Hérault" class="Occitanie">Hérault</option>
        <option id="Île-et-Vilaine" class="Bretagne">Île-et-Vilaine</option>
        <option id="Indre" class="Centre-Val de Loire">Indre</option>
        <option id="Indre-et-Loire" class="Centre-Val de Loire">Indre-et-Loire</option>
        <option id="Isère" class="Auvergne-Rhône-Alpes">Isère</option>
        <option id="Jura" class="Bourgogne-Franche-Comté">Jura</option>
        <option id="Landes" class="Nouvelle-Aquitaine">Landes</option>
        <option id="Loire" class="Auvergne-Rhône-Alpes">Loire</option>
        <option id="Loire-Atlantique" class="Pays de la Loire">Loire-Atlantique</option>
        <option id="Loiret" class="Centre-Val de Loire">Loiret</option>
        <option id="Loir-et-Cher" class="Centre-Val de Loire">Loir-et-Cher</option>
        <option id="Lot" class="Occitanie">Lot</option>
        <option id="Lot-et-Garonne" class="Nouvelle-Aquitaine">Lot-et-Garonne</option>
        <option id="Lozère" class="Occitanie">Lozère</option>
        <option id="Maine-et-Loire" class="Pays de la Loire">Maine-et-Loire</option>
        <option id="Manche" class="Normandie">Manche</option>
        <option id="Marne" class="Grand Est">Marne</option>
        <option id="Martinique" class="Martinique">Martinique</option>
        <option id="Mayenne" class="Pays de la Loire">Mayenne</option>
        <option id="Mayotte" class="Mayotte">Mayotte</option>
        <option id="Meurthe-et-Moselle" class="Grand Est">Meurthe-et-Moselle</option>
        <option id="Meuse" class="Grand Est">Meuse</option>
        <option id="Morbihan" class="Bretagne">Morbihan</option>
        <option id="Moselle" class="Grand Est">Moselle</option>
        <option id="Nièvre" class="Bourgogne-Franche-Comté">Nièvre</option>
        <option id="Nord" class="Hauts-de-France">Nord</option>
        <option id="Oise" class="Hauts-de-France">Oise</option>
        <option id="Orne" class="Normandie">Orne</option>
        <option id="Paris" class="Île-de-France">Paris</option>
        <option id="Pas-de-Calais" class="Hauts-de-France">Pas-de-Calais</option>
        <option id="Puy-de-Dôme" class="Auvergne-Rhône-Alpes">Puy-de-Dôme</option>
        <option id="Pyrénées-Atlantiques" class="Nouvelle-Aquitaine">Pyrénées-Atlantiques</option>
        <option id="Pyrénées-Orientales" class="Occitanie">Pyrénées-Orientales</option>
        <option id="Réunion" class="Réunion">Réunion</option>
        <option id="Rhône" class="Auvergne-Rhône-Alpes">Rhône</option>
        <option id="Saône-et-Loire" class="Bourgogne-Franche-Comté">Saône-et-Loire</option>
        <option id="Sarthe" class="Pays de la Loire">Sarthe</option>
        <option id="Savoie" class="Auvergne-Rhône-Alpes">Savoie</option>
        <option id="Seine-et-Marne" class="Île-de-France">Seine-et-Marne</option>
        <option id="Seine-Maritime" class="Normandie">Seine-Maritime</option>
        <option id="Seine-Saint-Denis" class="Île-de-France">Seine-Saint-Denis</option>
        <option id="Somme" class="Hauts-de-France">Somme</option>
        <option id="Tarn" class="Occitanie">Tarn</option>
        <option id="Tarn-et-Garonne" class="Occitanie">Tarn-et-Garonne</option>
        <option id="Territoire-de-Belfort" class="Bourgogne-Franche-Comté">Territoire-de-Belfort</option>
        <option id="Val-de-Marne" class="Île-de-France">Val-de-Marne</option>
        <option id="Val-d'Oise" class="Île-de-France">Val-d'Oise</option>
        <option id="Var" class="Provence-Alpes-Côte d'Azur">Var</option>
        <option id="Vaucluse" class="Provence-Alpes-Côte d'Azur">Vaucluse</option>
        <option id="Vendée" class="Pays de la Loire">Vendée</option>
        <option id="Vienne" class="Nouvelle-Aquitaine">Vienne</option>
        <option id="Vosges" class="Grand Est">Vosges</option>
        <option id="Yonne" class="Bourgogne-Franche-Comté">Yonne</option>
        <option id="Yvelines" class="Île-de-France">Yvelines</option>

    </select>


    <span id="Auvergne-Rhône-Alpes" style="display:none;">
        Bonjour je suis un gros chapeau.
    </span>

    <span id="Bourgogne-Franche-Comté" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Bretagne" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Centre-Val de Loire" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Grand Est" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Guadeloupe" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Guyane" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Hauts-de-France" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Île-de-France" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="La Corse" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Martinique" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Mayotte" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Normandie" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Nouvelle-Aquitaine" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Occitanie" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Pays de la Loire" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Provence-Alpes-Côte d'Azur" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <span id="Réunion" style="display:none;">
        Bonjour je suis un gros chapeau 2.
    </span>

    <%= paginate @scorescommunes %>

<table>
    <tr>
        <th>Id</th>
        <th>Nom de la commune</th>
        <th>Code de commune</th>
        <th>Code de département</th>
        <th>Nom du département</th>
        <th>Code de la région</th>
        <th>Population légale</th>
        <th>Accès interface numérique</th>
        <th>Accès information</th>
        <th>Score global accès</th>
        <th>Compétences administrative</th>
        <th>Compétences numériques et scolaire</th>
        <th>Score global compétences</th>
        <th>Score global</th>
    </tr>
    <% @scorescommunes.each do |commune| %>
        <tr>
            <td><%=commune.id%></td>
            <td><%=commune.nom_com%></td>
            <td><%=commune.insee_com%></td>
            <td><%=commune.insee_dep%></td>
            <td><%=commune.nom_dep%></td>
            <td><%=commune.insee_reg%></td>
            <td><%=commune.poplegal%></td>
            <td><%=commune.accintnum%></td>
            <td><%=commune.accinf%></td>
            <td><%=commune.global_acces%></td>
            <td><%=commune.comp_admin%></td>
            <td><%=commune.comp_numsco%></td>
            <td><%=commune.global_comp%></td>
            <td><%=commune.score_global%></td>
        </tr>
    <%end%>
</table>