<!DOCTYPE html>
<html>
  <head>
    <title>Groupe 10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <p><%= link_to  "Indice de Fragilité numérique", root_path %></p>
    </div>
    <div class="maindiv">
      <%= yield %>
      <div class="footer">
      <p>Plan du site :
      <br><%= link_to  "Mentions Légales", mentionsLegales_path %>
      <br><%= link_to  "Accueil", root_path %></p>
    </div>
    </div>
    <div id="cookieconsent">
      <div class="cookieconsentl">
        <p>Ce site web n'utilise et ne demande aucune donnée personnelle.
            De plus, les cookies utilisés servent uniquement au bon fonctionnement du site.</p>
      </div>
      <div class="cookieconsentr">
        <span id="cookiebutton" onclick="closecookie()">Fermer</span>
      </div>
    </div>
  </body>
</html>
