<!DOCTYPE html>
<html>
  <head>
    <title>Groupe 10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <p>Indice de Fragilité numérique</p>
    </div>
    <%= yield %>
  </body>
</html>
