<!DOCTYPE html>
<html>
  <head>
    <title>Groupe 10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="flexheaderc"><%= image_tag  "logo-inr.jpg", onload:"checkcookie()" %></div>
      <div class="flexheaderc"><h1><%= link_to  "Indice de Fragilité numérique", root_path %></h1></div>
      <div class="flexheaderc"><p>Version: Design For Green 2020<p></div>
    </div>
    <div class="maindiv">
      <p>L'indice de Fragilité numérique permet de connaitre les zones où le manque d'infrastructure lié au numérique est le plus important. Il peut révéler que sur une zone géographique définis (commune, département, région)
          une partie de la population n'a pas accès ou peu au numérique. On parle alors de "zones blanches". Cet indice est constitué de quatres scores, eux-mêmes définis par une
          multitude de critères. Ces quatres scores sont: l'Accès aux interfaces numériques, l'Accès à l'information, les Compétences administratives et les Compétences numériques et scolaires.
          Cet outils à pour but de prendre des décisions plus rapides et plus efficaces pour le territoire.</p>
      <%= yield %>
    </div>
    <div id="cookieconsent">
      <div class="cookieconsentl">
        <p>Ce site web n'utilise et ne demande aucune donnée personnelle.
            De plus, les cookies utilisés servent uniquement au bon fonctionnement du site.</p>
      </div>
      <div class="cookieconsentr">
        <span id="cookiebutton" onclick="closecookie()">Fermer</span>
      </div>
    </div>
    <footer>
      <p>INR | Institut du Numérique Responsable © 2020 | <%= link_to  "Mentions Légales", mentionsLegales_path %> | <%= link_to  "Accueil", root_path %></p>
    </footer>
  </body>
</html>
