<!DOCTYPE html>
<html>
  <head>
    <title>Groupe 10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="flexheaderc"><%= image_tag  "logo-inr.jpg", onload:"checkcookie()" %></div>
      <div class="flexheaderc"><%= link_to  "Indice de Fragilité numérique", root_path %></div>
    </div>
    <div class="maindiv">
      <%= yield %>
    </div>
    <div id="cookieconsent">
      <div class="cookieconsentl">
        <p>Ce site web n'utilise et ne demande aucune donnée personnelle.
            De plus, les cookies utilisés servent uniquement au bon fonctionnement du site.</p>
      </div>
      <div class="cookieconsentr">
        <span id="cookiebutton" onclick="closecookie()">Fermer</span>
      </div>
    </div>
    <footer>
      <p>INR | Institut du Numérique Responsable © 2020 | <%= link_to  "Mentions Légales", mentionsLegales_path %> | <%= link_to  "Accueil", root_path %></p>
    </footer>
  </body>
</html>
